@import url('https://fonts.cdnfonts.com/css/new-york-extra-large');
                
a {
    font-family: New York Small;
}

.dark-mode {
    background-color: gray;
  }

  html {
    scroll-behavior: smooth;
  }